/* reset css */
*{ box-sizing: border-box; }
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a:link{text-decoration: none;}
a:visited, a:active, a{color: rgb(206, 174, 251);}
/* reset css */
.wrap{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
/* seat layout */
.wrap .seatL{
  width: 80%;
  height: 100%;
  border-right: 1px solid #000;
  overflow: auto;
}
.wrap .seatR{
  width: calc(20% - 21px);
  padding: 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.wrap .seatR .selectZone{
  flex: 1;
  margin-bottom: 10px;
}
.wrap .seatR .selectZone .label{
  margin-bottom: 20px;
  font-size: 17px;
  margin-top: 10px;
  border-bottom: 1px solid #aaa;
  padding-bottom: 20px;
  font-weight: bold;
}
.wrap .seatR .selectZone .seatZone{
  background-color: rgba(100,100,100,0.1);
  height: calc(100% - 75px);
  overflow: auto;
  padding: 10px;
  border-radius: 8px;
}
/* statis */
.wrap .divide{
  width: 50%;
  height: 100%;
  padding: 10px;
}
.wrap .divide.l{
  /* background-color: red; */
  border-right: 1px solid #000;
}
.wrap .divide.r{
  /* background-color: blue; */
}




.searchList{
  height: calc(100% - 50px);
  overflow: auto;
}
.searchList table{ width: 100%; }
.searchList th{
  background-color: #aaa;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #fff;
}
.searchList td{
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #aaa;
  text-align: center;
}
.searchList tbody tr:hover{
  cursor: pointer;
  background-color: #aaaaaaaa;
}

.disabled{
  background-color: #aaa !important;
  pointer-events: none;
}